<% provide(:title, "BLOG Application") %>
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4 fixed">
        <div style="width: 350px; height: 230px; background-color: white; box-shadow: 2px 2px 2px #888888; border-radius: 5px;">
            <section class="user_info">
              <%= render 'shared/user_info' %>
            </section>
            <section class="stats" style="margin-left: 85px; margin-top: 10px;">
              <%= render 'shared/stats' %>
            </section>
        </div>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8 scrollit">
        <h3><i class="glyphicon glyphicon-edit"></i> Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  <% else %>
  <div class="bgbackground" style="height: 520px; margin-top: 100px; border-radius: 200px;">
    <p id="notice" hidden><%= notice %></p>
      <p align="center">
      <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-success", style: "margin-top: 410px;" %>
      </p>
  </div>
<% end %>

<script>
  if($("#notice").html() == undefined){
   //do nothing
  }else{
     if($("#notice").html().split("+")[1] == "valerie"){
        $("#login-modal").modal('show');
        $("#error").html($("#notice").html().split("+")[0]).css("text-align", "center").show();
        $(document).on('hidden.bs.modal', function (e) {
          $("#error").hide();
        });
      } 
  }
</script>

<style type="text/css">
  .fixed { position: fixed; width: 26.5%; }
  .scrollit { float: right; width: 62%; }
  .bgbackground { background-image: url(http://res.cloudinary.com/mirandasy/image/upload/v1489918947/bg4_iagqc8.jpg); }
</style>
