<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4 fixed">
    <div style="width: 350px; background-color: white; box-shadow: 2px 2px 2px #888888; border-radius: 5px; height: 450px;">
        <section class="user_info">
        <div style="margin-top: 40px; margin-left: 40px;">
          <%= gravatar_for @user %>
          <br>
          <h1><%= @user.name %></h1>
          <br>
          <span><%= link_to "View Profile", current_user, class: "btn btn-success btn-xs" %></span><br>
          <span><b>Microposts:</b> <%= @user.microposts.count %></span>
          </div>
        </section>
        <section class="stats" style="margin-left: 80px; margin-top: 10px;">
          <%= render 'shared/stats' %>
          </section>
        </section>
      </div>
  </aside>
  <div class="col-md-8 scrollit">
    <h3><%= @title %></h3>
    <% if @users.any? %><br>
      <%= will_paginate %>
      <ul class="users" style="margin-bottom: 3em;">
          <table>
            <%= render @users %>
          </table>  
      </ul>
    <% else %>
      <ul class="users" style="margin-bottom: 3em;">
        <br><br><br>
        <table>
            <tr><td>No records to display ...</td></tr>
        </table>  
      </ul>
    <% end %>
  </div>
</div>

<style type="text/css">
  .gravatar{ margin-top: 20px;}
  .fixed { position: fixed; width: 26.5%; }
  .scrollit { float: right; width: 62%; }
</style>