<!-- User Profile -->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-12">
    <div style="background-color: white; width: 100%; height: 225px; box-shadow: 2px 2px 2px #888888; margin-top: 10px; border-radius: 5px; position:absolute; overflow:hidden;">
      <section class="user_info">
        <h1 style="margin-top: 15px; margin-left: 80px;">
          <%= gravatar_for @user %>
          <p style="font-size: 30px; margin: 0px;"><%= @user.name %></p>
          <p style="font-size: 14px; color: gray;"><%= @user.email %></p>
        </h1>
        <section class="stats" style="margin-left: 200px; margin-top: 0px; margin-right: 50px; z-index:9999; position:relative;">
          <%= render 'shared/stats' %>
        </section>
        <div style="margin-left: 750px; width: 30%;">
        <%= render 'follow_form' if logged_in? %>
      </div>
      </section>    
    </div>
  </aside>
</div>

<div class="row">
  <div class="col-md-6">
    <% if logged_in? %>
      <section class="micropost_form">
        <%= form_for Micropost.new do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field" style="position:absolute; top:270px; overflow:hidden;">
          <%= f.text_area :content, placeholder: "Compose new micropost...", required: "required" %>
        </div>
        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', style: "margin-top:480px;" %>
        </span>
        <%= f.submit "Post", class: "btn btn-primary", style: "width:85%;" %>
      </section>
    <% end %>
  </div>
  <div class="col-md-6" style="position:absolute; top:310px; bottom:10px; overflow:auto; margin-left: 550px; width:45%;">
    <% if @user.microposts.any? %>
      <h3><i class="glyphicon glyphicon-edit"></i> Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<style type="text/css">
  textarea { resize: none; height:200px; width:470px; }
</style>
<% end %>
