<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp" style="font-size: 12px;">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to " ", micropost, class: "btn btn-danger btn-xs glyphicon glyphicon-trash glyphicon-xs", title: "Delete Post",
                                       method: :delete,
                                       data: { confirm: "Are you sure you want to delete this post?" } %>
    <% end %>
  </span>
</li>